<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new product</title>
    <link rel="icon" href="img/logo.png" type="image/png">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="login_form_inner register_form_inner">
                    <h3>Add Product</h3>
                    <form th:object="${productDto}" class="row login_form" action="/addProduct" method="post" id="register_form" enctype="multipart/form-data" >
                        <div class="col-md-12 form-group">
                            <input th:field="*{name}" type="text" class="form-control" id="name" name="name" placeholder="Product name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'name'" />
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{price}" type="text" class="form-control" id="Price" name="Price" placeholder="Price" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Price'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{description}" type="text" class="form-control" id="Description" name="Description" placeholder="Description" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Description'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{category}" type="text" class="form-control" id="Category" name="Category" placeholder="Category" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Category'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input th:field="*{unitsInStock}" type="text" class="form-control" id="stock" name="stock" placeholder="Units in stock" onfocus="this.placeholder = ''" onblur="this.placeholder = 'stock'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="file" class="form-control" id="productImg" name="productImg" >
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="button button-register w-100">ADD PRODUCT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendors/skrollr.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="vendors/jquery.ajaxchimp.min.js"></script>
<script src="vendors/mail-script.js"></script>
<script src="js/main.js"></script>
</body>
</html>