<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="icon" href="img/logo.png" type="image/png">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cartEntryDto:${checkoutDto.cartEntryDtoList}">
                        <td>
                            <div class="media">
                                <div class="d-flex">
                                    <img th:src="${'data:image/png; base64, '+cartEntryDto.image}" style='height: 120px; width: 120px; object-fit: contain' alt="">
                                </div>
                                <div class="media-body">
                                    <p th:text="${cartEntryDto.name}"></p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5 th:text="${cartEntryDto.price}"></h5>
                        </td>
                        <td>
                            <div class="product_count">
                                <input th:value="${cartEntryDto.quantity}" type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                       class="input-text qty">
                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                            </div>
                        </td>
                        <td>
                            <h5 th:text="${cartEntryDto.total + ' $'}"></h5>
                        </td>
                    </tr>

                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td>
                            <h5 th:text="${checkoutDto.subtotal+ ' $'}"></h5>
                        </td>
                    </tr>
                    <tr class="shipping_area">
                        <td class="d-none d-md-block">
                        </td>
                        <td>
                        </td>
                        <td>
                            <h5>Shipping</h5>
                        </td>
                        <td>
                            <h5 th:text="${checkoutDto.shippingFee+ ' $'}"></h5>
                        </td>

                    </tr>
                    <tr class="shipping_area">
                        <td class="d-none d-md-block">
                        </td>
                        <td>
                        </td>
                        <td>
                            <h5>Total</h5>
                        </td>
                        <td>
                            <h5 th:text="${checkoutDto.total+ ' $'}"></h5>
                        </td>

                    </tr>
                    <tr class="out_button_area">
                        <td class="d-none-l">
                        </td>
                        <td class="">
                        </td>
                        <td>
                        </td>
                        <td>

                            <div class="checkout_btn_inner d-flex align-items-center">
                                <a class="gray_btn" href="/home">Continue Shopping</a>
                                <form action="/confirmation" method="post">
                                    <button type="submit" value="submit" class="button button-register w-100">Place Order</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</section>
<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendors/skrollr.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="vendors/jquery.ajaxchimp.min.js"></script>
<script src="vendors/mail-script.js"></script>
<script src="js/main.js"></script>
</body>
</html>